* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  background-color: #e5e5e5;
  font-family: 'Lato', sans-serif;
  color: #26AD1A;
  line-height: 1.5;
}

/* links/a-tags/button styles */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1rem;
  background-color: #fff;
  color: #26AD1A;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: #26AD1A;
  color: #fff;
}

/* Heading/navbar */

header {
  display: grid;
  background-color: #f4f4f4;
  position: fixed;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  z-index: 1;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  background-color: #f4f4f4;
  color: #26AD1A;
  width: 100%;
}

#logo {
  margin: .5em;
  display: flex;
}

#blender {
  font-size: 4.1em;
  display: inline;
}

#logo h1 {
  font-size: 2em;
  line-height: 1em;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}

.navbar-links {
  display: none;
}

.navbar-links.active {
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: #26AD1A;
  padding: 1rem 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #fff;
}

#hamburger {
  position: absolute;
  top: .20rem;
  right: 1.5rem;
  border: none;
  background-color: #f4f4f4;
  color: #26AD1A;
  font-size: 55px;
  cursor: pointer;
}

/* hero area */
main {
  background-color: #e5e5e5;
  background: url(../img/smoothie.jpg)no-repeat center center/cover;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 2fr);
}

#heroHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 7 / 10;
  grid-row: 3;
}

#heroHeading h1 {
  font-size: 2.6rem;
  color: #fff;
  margin-bottom: 1em;
  text-align: center;
}

#heroHeading .btn {
  padding: .6em 1em;
  width: 90px;
}

/* about-cards */

.section-a {
  padding-top: 50px;
}

.card {
  text-align: center;
  background-color: #fff;
  margin: 2em 0 1em;
  color: #333;
  padding: 1em;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card img {
  color: #26AD1A;
  padding: .5em 0 1em 0;
  font-size: 50px;
}

.card p {
  font-size: 1.5rem;
  padding: 0 1em 1em;
}

/* section-b*/

.section-b {
  background-color: #000;
  background: url(../img/stevia.jpg) no-repeat center center/cover;
  height: 30em;
}

.section-b h2 {
  text-align: center;
  font-size: 2.5em;
  padding-top: 1.3em;
}

/* Menu */

.menu {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding: 2rem 0 0;
  background-color: #e5e5e5;
}

.menu-heading {
  grid-column: 2 / 12;
  text-align: center;
  border-bottom: 1px solid #26AD1A;
  font-size: 2.5rem;
}

.main-menu-group {
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-group {
  grid-column: 1 / 4;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.menu-item h3 {
  font-size: 1.5rem;
}

.menu-group p {
  font-size: 1.2rem;
  padding-top: .25em;
}

.menu-item p {
  font-size: .8rem;
}

/* current specials */

.current-specials-image {
  grid-column: 1 / span 12;
  background: url(../img/beachSmoothie.jpg) no-repeat bottom center/cover;
  height: 30rem;
}

.current-specials {
  color: #26AD1A;
  padding: 1em 0 0;
}

.menu p {
  grid-column: 1 / 13;
  text-align: center;
  padding: 1.2em 0;
}



/* smoothie generator */


.smoothie-generator {
  grid-column: 2 / 12;
  margin: 0 1em 1em;
  padding: 1em 0;
  text-align: center;
}

.smoothie-generator p {
  padding-bottom: 1em;
  font-size: 1.5rem;
}

.smoothie-generator .btn {
  text-align: center;
  margin: 0 auto;
  padding: .5em 1.5em;
  border: 1px solid #26Ad1a;
  font-weight: 500;
}

.smoothie-generator #blender {
  font-size: 2rem;
}


/* social media */

.social-media {
  background-color: #c4c4c4;
  width: 100%;
  height: min-content;
  padding: 2em 0;
  text-align: center;
}

.social-media h2 {
  font-size: 2rem;
  color: #26AD1A;
}

.icons {
  text-align: center;
}

.social-media i {
  color: #333;
  padding: 2rem 2.5rem 0 2.5rem;
  transition: all 500ms ease;
}

.social-media i:hover {
  color: #26AD1A;
  transform: scale(1.15);
}


/* newsletter */
.newsletter {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1.5em 0;
}

.grid-container {
  grid-column: 2 / 12;
}

.newsletter h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}

.form-group label {
  padding-left: .5rem;
}

.form-group input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding-left: .5rem;
  margin: .5rem 0 1rem 0;
  outline: none;
}

input:focus {
  color: #4b515d;
  border: 1px solid #b8b6b6;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.3);
}


.form-group .btn {
  padding: .5em 1.5em;
  border: 1px solid #26Ad1a;
  font-weight: 500;
}


#submit {
  text-align: center;
}


/* footer */

footer {
  background-color: #333;
  width: 100%;
  height: min-content;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footer-container p {
  padding: 1rem;
  font-size: 1.8rem;
}

footer p {
  text-align: center;
  padding-bottom: 1rem;
}


/* media querries */

@media (min-width: 600px) {
  .section-a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card {
    margin-bottom: 0;
  }

  .main-menu-group {
    grid-column: 3 / 11;
  }


}






@media (min-width: 840px) {

  .navbar-links ul {
    flex-direction: row;
    width: min-content;
    display: flex;
  }

  .navbar-links {
    display: flex;
  }

  .navbar {
    flex-direction: row;
    align-items: flex-end;
    grid-column: 2/12;
  }

  #hamburger {
    display: none;
  }

  .navbar-links li a {
    padding: 2rem 1.2rem;
  }


  .menu-group {
    grid-column: span 1;
  }

  .form {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
  }

  .form-group:nth-of-type(1) {
    grid-column: 1 / 2;
  }

  .form-group:nth-of-type(2) {
    grid-column: 3 / 4;
  }

  .form-group:nth-of-type(3),
  .form-group:nth-of-type(4) {
    grid-column: 1 / span 4;
  }

  .footer-container {
    flex-direction: row;
    margin: 0 3.5rem;
  }

  .footer-container p {
    font-size: 1.3rem;
  }

  .footer-container p:nth-of-type(1) {
    order: 1;
  }

  .footer-container p:nth-of-type(2) {
    order: 3;
  }

  .footer-container p:nth-of-type(3) {
    order: 2;
  }



}


@media (min-width: 1000px) {

  .main-menu-group {
    grid-column: 3 / 11;
  }

  .grid-container {
    grid-column: 4 / 10;
  }
}

@media (min-width: 1100px) {

  .section-a {
    grid-template-columns: repeat(4, 1fr);
    margin: 4em 8em;
    padding: 0;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: all 500ms ease;
  }

  .card:hover {
    box-shadow: 0 4px 16px 0 rgba(38, 173, 26, .5);
    transform: scale(1.05);
  }

  .card p {
    font-size: 1.3rem;
  }

}